* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
}

img {
    max-width: 100%;
    display: block;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

html, body {
    font-size: 62.5%;
}