:root {
    --primary: #1B1B1B;
    --secondary: #242424;
    --yellow: #FCC26B;
    --texts: #514B4B;
    --title: #868686;
    --white: #fff;
    --black: #000;
    --font-title: "Road Rage", sans-serif;
    --font-text: "Roboto Mono", sans-serif;
    --font-cool: "Rock Salt", cursive;
}