:root {
    --primary: #1B1B1B;
    --secondary: #242424;
    --yellow: #FCC26B;
    --texts: #514B4B;
    --title: #868686;
    --white: #fff;
    --font-title: "Road Rage";
    --font-text: "Roboto Mono";
}